.HeroComponent {
    width: 100%;
}

.HeroComponent-in {
    width: 100%;
    height: 121vh;
    background-image: url('/drone.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 0rem 0rem 0rem;
}


.hero-one {
    width: 100%;
    height: 50vh;
}

.hero-one-one {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0rem 0rem 0rem;
}

.hero-one-one h1 {
    text-align: center;
    font-size: 4vw;
    color: black;
    font-weight: 800;
}

.hero-one-two {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 1em 0rem 0rem 0rem;
}

.hero-one-two p {
    text-align: center;
    font-size: 1vw;
    color: rgb(161, 160, 160);
    font-weight: 600;
}

.hero-two {
    width: 100%;
    height: 100%;
}

.hero-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 900px) {
    
    .HeroComponent-in {
        width: 100%;
        height: 70vh;
        background-image: url('/drone.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 0rem 0rem 0rem;
    }

}

@media (max-width: 768px) {

    .HeroComponent-in {
        width: 100%;
        height: 90vh;
    }

    .hero-one-one {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem 0rem 0rem 0rem;
    }
    
    .hero-one-one h1 {
        text-align: center;
        font-size: 1.2rem;
        color: black;
        font-weight: 800;
    }
    
    .hero-one-two {
        width: 90%;
    }

    .hero-one-two p {
        text-align: center;
        font-size: .8rem;
        color: rgb(161, 160, 160);
        font-weight: 600;
    }

}